<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="WikipediaTestSuite">
    <test name="HomepageAndLoginTests">
        <classes>
            <class name="org.WikiTest.LoginTest"/>
            <class name="org.WikiTest.EnglishHomePageTest"/>
        </classes>
    </test>
</suite>